<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>
    <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>
    <br>

    <h1>Employee List</h1>
    <br>
    <br>

    <br>
    <br>
    <a class="btn btn-primary" th:href="@{/download}"  role="button" >Download</a>
    <br>
    <table class="table table-striped">
        <thead>
        <th scope="row">#Emp ID</th>
        <th scope="row">Prefix</th>
        <th scope="row">First Name</th>
        <th scope="row">Last Name</th>
        <th scope="row">Gender</th>
        <th scope="row">E Mail</th>
        <th scope="row">Date of Birth</th>
        <th scope="row">Date of Joining</th>
        <th scope="row">Quarter of Joining</th>
        <th scope="row">Salary</th>
        <th scope="row">Phone No.</th>
        <th scope="row">Posted Region</th>



        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.prefix}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.gender}"></td>
            <td th:text="${employee.eMail}"></td>
            <!--<td th:text="${employee.dateOfBirth}"></td>-->
            <td th:text="${#dates.format(employee.dateOfBirth, 'dd-MMM-yyyy')}"></td>
            <!--<td th:text="${employee.dateOfJoining}"></td>-->
            <td th:text="${#dates.format(employee.dateOfJoining, 'dd-MMM-yyyy')}"></td>
            <td th:text="${employee.quarterOfJoining}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.phoneNo}"></td>
            <td th:text="${employee.postedRegion}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/updateEmployee/__${employee.Id}__}"  role="button" >Update</a>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/deleteEmployee/__${employee.Id}__}" role="button" >Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


    <br>
    <a class="btn btn-primary" th:href="@{/addEmployeePage}"  role="button" >Add New Employee</a>
    <br>


                <ul class="pagination justify-content-center">
                    <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                        <a class="page-link" th:href="@{/listpage/${pageNumber}|}" th:text=${pageNumber}>1</a>
                    </li>
                </ul>
<!--    <nav aria-label="...">
        <br>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                        <a class="page-link" th:href="@{/listpage/${pageNumber}|}" th:text=${pageNumber}>1</a>
            </li>
        </ul>
    </nav>-->


    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>


<!--    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{assets/moment/moment.min.js}"></script>
    <script th:src="@{assets/daterangepicker/daterangepicker.js}"></script>

   <script>
    var $dateRange = $('#dateRange');

    $dateRange.daterangepicker();
    $dateRange.on('apply.daterangepicker', function (ev, picker) {
        $('input[name="dateFrom"]').val(picker.startDate.format('DD/MM/YYYY'));
        $('input[name="dateTo"]').val(picker.endDate.format('DD/MM/YYYY'));
    });
</script>-->

</div>
</body>
</html>